/* Set the body to border box */
body  {
    box-sizing: border-box;
}

/* centers h1, h2, h3, */
h1, h2, h3 {
    text-align: center;
    font-size: large;
}

/* Set color of the h3 fonts to blue */
h3 {
    color: blue;
}

/* Set color of the h2 fonts to red */
h2 {
    color: red;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* The poitioning of the photots in the index.html as columns of the same size */
.column {
    width: 33.33%;
    padding: 5px;
}

/* The display of the photos in the index.html as rows with flex */
.row {
    display: flex;
}

/* For media output of the photos on the screen */
@media screen and (max-width: 500px) {
    .column {
        width: 100%;
    }
}

/* Sets the menu lists */
.list-group {
    width: 50%;
    padding: 5px;
}

/* Uses flex to display the images of the menu list to columns */
.menu-images {
    display: flex; 
}

/* Sets the images of the menu-list */ 
.pic {
    width: 50%;
    padding: 5px;
}

/* Styling of the error message color to red and text alignment to center */
.error {
    color: red;
    text-align: center;
}

