{% extends "layout.html" %}

<!-- Page title -->
{% block title %}
    Successful Order
{% endblock %}

<!-- main content of the about page-->
{% block content %}

    <div class="text-center py-3">
        <img id="about-img" src="../static/images/inside2.jpg" width="25%" alt="Responsive image">
    </div>

    <p class="py-3">
        <i><b>
        Blondie's Restaurant is owned by a Gambian who opened it in August 2020 to give the customers the taste of Gambian and other international dishes.
        Our mission is to give the customers the real experience of "The Smiling Coast" and we are truly Gambian with the love and care we offer to our customers.
        The story behind the name "Blondie's" is unique to the nature of welcoming both tourists and locals alike.
        </b></i>
    </p>

{% endblock %}