<!-- Extends layout page as home page -->
{% extends "layout.html" %}

<!-- This is the homepage of the website and it extends the layout.html -->
{% block title %}
    Home
{% endblock %}

<!-- Decoration of information of the home page -->
{% block content %}
    <h3>When they say the "Smiling Coast" that's Blondie's Restaurant smiling to you!!!</h3> 
    <h3>OPENING HOURS: 8:00am till 1:00am</h3>

    <h2>We serve our customers with love and treat them with care!</h2>
        <div class="row">
            <img class="column" src="../static/images/grilled.jpg" alt="grilled afra" style="border: 1px solid red;">
            <img class="column" src="../static/images/breakfast.jpg" alt="starter" style="border: 1px solid red;">
            <img class="column" src="../static/images/african.jpg" alt="chicken benachin dish" style="border: 1px solid red;">
        </div>
        <p>
            At Blondie's Restaurant we offer you with wide ranges of special African dishes to satisfy your taste for local dishes.
            Along with African dishes we also offer some delicious European dishes of different varieties to feed you, your family and freinds at large.
            We hope you will try more of our dishes, and thank you for choosing us. You can have a look at the <a href="/menu">menu</a> and for your
            <a href="/order">orders and table reservations</a>. We are located next to African Village Hotel in Bakau, The Gambia, West Africa.
        </p>

    <h2>We also offer live musical band entertainment on Friday nights starting at 9:30pm till 12:00am!</h2>
    <div class="embed-responsive embed-responsive-21by9">
        <video class="embed-responsive-item" src="../static/videos/VID-20220717-WA0026.mp4" width="500" height="240" controls></video>
    </div>
    <p>
        You can come join us on every Saturday nights to try your dance skills and also have the taste of our very own local musical bands with tradition and cultural musics.
        Where you will experience and even dance to African musics especially Senegambian music, which we are proud to offer as we are truly Senegambian and African at large.
    </p>

    <h2>We do birthday celebrations too!</h2>
    
    <div class="row">
        <img class="column" src="../static/images/birthday1.jpg" alt="birthday pic" style="border: 1px solid red;">
        <img class="column" src="../static/images/birthday2.jpg" alt="birthday pic" style="border: 1px solid red;">
        <img class="column" src="../static/images/birthday3.jpg" alt="birthday pic" style="border: 1px solid red;">
    </div>
    <p>
        For your birthday celebrations, we are the right place to offer you a very special day of yours with your family, friends and loved ones. You can call us to secure bookings of tables for your special day.
        And be rest assured that our staffs will treat you and your entourage with care and serve you with love!!!
    </p>
    
{% endblock %}