<!-- Extends the layout body for login -->
{% extends "layout.html" %}

<!-- Login page title-->
{% block title %}
    Log In
{% endblock %}

<!-- Decoration of login form -->
{% block content %}

    <h1><b>LOGIN REQUIRED FOR ONLY STAFFS</b></h1>

    {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }} </p>
    {% endif %}
    
    <form action="/login" method="post">    
        <div class="mb-3 text-center">
            <label><b>Username</b></label>
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3 text-center">
            <label><b>Password</b></label>
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3 text-center">
            <button class="btn btn-primary" type="submit">Log In</button>
        </div>
    </form>
    
{% endblock %}