<!-- Extends the layout for seccussful order page -->
{% extends "layout.html" %}

<!-- Page title -->
{% block title %}
    Successful Order
{% endblock %}

<!-- main content for successful order confirmation message-->
{% block content %}

    <h1>Thanks for choosing us!!!</h1>

    <h3 class="py-3">We will get back to you as soon as possible!!!</h3>
    <div class="text-center py-3">
        <img id="about-img" src="../static/images/owner.jpg" alt="Responsive image">
    </div>

{% endblock %}